body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	 
}

body , div[class*="mdc-typography--title"]  {
	font-family: 'Montserrat', sans-serif;
	 
}

p {
	font-family: 'Roboto', sans-serif;
}

footer {
	margin-top: 100px;
	background-color: #212121;
	height: 150px;
}

footer img {
	float: right;
	padding: 20px;
}

.mdc-typography--display1 {
	font-weight: 900;
}

select.homepage-chart {
	float: right;
	width: 150px;
}



ul.map-list li {
	margin-bottom: 20px;
}

img.desaturate {
	filter: grayscale(100%);
}


.vertical-align-top {
	vertical-align: top;
}

.bg-white-transparent {
	background-color: rgba(255,255,255, 0.85);
}

.hidden {
	visibility: none;
}
.stat-settings {
	height: 300px;
}

.absolute-bottom {
	position: absolute;
	bottom: 0;
}

.mdc-grid-tile__secondary {
	background-color: rgba(0,0,0,0.7);
}

.mdc-button--stroked:not(:disabled) {
	border-color: #000;
	color: #000;
}

.stat-settings-button {
	padding-top: 110px;

}


.stat-settings-button button {
	display: block;
}

.h30 {
	height:30px;
	 
}

.sticky {
	top: 20px;
    position: -webkit-sticky;
    position: sticky;

}


.open-data {
	background-color: #fefefe;
}

.open-data-badges {
	 position: absolute;
	 width: 100%;
	 top:200px;
}

.img-responsive {
	width: 100%;
	height: auto;
}

.even {
  background-color: #f8f8f8;
}

.blog-1 {
	border-top: 15px solid #c6e9bc;
	padding: 20px;
}

.blog-2 {
	border-top: 15px solid #7ccdbd;
	padding: 20px;
}

.blog-3 {
	border-top: 15px solid #35b7c2;
	padding: 20px;
}

.blog-4 {
	border-top: 15px solid #0092bb;
	padding: 20px;
}

.bg-primary {
	background-color: #7ccdbd;
}

.dark-gray {
	color: darkgray;
}

.color-primary {
	color: #7ccdbd;
}

.procurement-card {
	box-shadow: unset;
	border-bottom: 1px solid lightgray;
}

.procurement-card img {
	opacity: 0.3;
}
.procurement-card-container {
	width: 100%;
}
.procurement-card-details {
	min-width: 100px;
}
 

.other-colors {
	  background: #f44336;
	  background-color: #f9f0d0;
	  background-color: #1b3050;
}

.flex {
	display: flex;
	 
}
 
.inline-left {
	display: inline;
	float: left;
}

.pull-right {
	float: right;
}
.icon-large{
	height: 36px;
}

.icon-medium{
	height: 25px;
}

.icon-large-label {
	font-size: 36px;
	line-height: 36px;
	vertical-align: middle;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
}

.f300 {
	font-weight: 300;
}

.f900 {
	font-weight: 900;
}

 
.list-planning {
	border-left: 4px solid orange;
	padding: 20px;

}

.list-planning.active , .list-planning:hover {
	background-color: orange;
}

.list-tender {
	border-left: 4px solid #c6e9bc;
	padding: 20px;
	
}

.list-tender.active , .list-tender:hover {
	background-color: #c6e9bc;
}

.list-award {
	border-left: 4px solid #7ccdbd;
	padding: 20px;
}

.list-award:hover, .list-award.active {
	background-color: #7ccdbd;
}

.list-contract {
	border-left: 4px solid #7ccdbd;
	padding: 20px;
}

.list-contract:hover , .list-contract.active {
	background-color: #7ccdbd;
}

.list-implementation {
	border-left: 4px solid #0092bb;
	padding: 20px;
}

.list-implementation:hover , .list-implementation.active  {
	background-color: #0092bb;
 
}

.img-chart {
	height: 350px;
	min-height: 350px;
}

.f300 {
	font-weight: 300;
}

.text-center {
	text-align: center;
}
.logo  {
	vertical-align: middle;
	height: 40px;

}
.text-center {
	text-align: center;
}

.white {
	color: #fff;
}

.padding-small {
  padding: 10px; }

 .padding-large {
 	padding: 25px;
 }

 .padding-left-large {
 	padding-left: 25px;
 }

 .padding-left-small {
  padding-left: 15px;
 }

.padding-top-large {
  padding-top: 25px; }

.padding-top-small {
  padding-top: 10px; }

.padding-bottom-small {
	padding-bottom: 10px;
}

.padding-right-xs{
	padding-right: 5px;
}


.padding-right-small {
	padding-right: 10px;
}

.padding-right-large {
	padding-right: 25px;
}

.padding-bottom-large {
	padding-bottom: 25px;
}

.padding-top-large {
	padding-top: 25px;
}


.margin-top-large {
	margin-top: 25px;
}



.nudge-to-boundary {
  margin-left: -5px;
  margin-right: -5px;
}

.nudge-to-boundary-15 {
 	 margin-left: -15px;
 	 margin-right: -15px;
}


.search-header {
    background-color: #7ccdbd;
    padding-left: 25px;
    opacity: 1;

    width: 100%;
}

.homepage-mid-banner {
	width:100%; 
	background-color:teal; 
	height:400px;
	color: white;
}

#graph-people {
	float: right;
	width: 200px;
}

#infographic-two-way-communication {
	position: relative;
	margin-left: 12%;
	margin-right: 12%;
}
#infographic-two-way-communication .hide-for-large-up {
	width: 80%;
	margin: 0 auto;
}
#infographic-two-way-communication #graph-gov {
	float: left;
	width: 200px;
}
#infographic-two-way-communication #graph-people {
	float: right;
	width: 200px;
}
#infographic-two-way-communication #graph-arrow-bottom, #infographic-two-way-communication #graph-arrow-top {
	width: 120px;
	height: 40px;
	background-color: #ffffff;
	position: absolute;
}
#infographic-two-way-communication #graph-arrow-top {
	top: 50px;
	-webkit-animation-duration: 2s;
	-webkit-animation-name: moving-r2l;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-duration: 2s;
	-moz-animation-name: moving-r2l;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-o-animation-duration: 2s;
	-o-animation-name: moving-r2l;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: linear;
	animation-duration: 2s;
	animation-name: moving-r2l;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#infographic-two-way-communication #graph-arrow-bottom {
	top: 120px;
	-webkit-animation-duration: 2s;
	-webkit-animation-name: moving-l2r;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-duration: 2s;
	-moz-animation-name: moving-l2r;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-o-animation-duration: 2s;
	-o-animation-name: moving-l2r;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: linear;
	animation-duration: 2s;
	animation-name: moving-l2r;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#infographic-two-way-communication #graph-arrow-bottom::after {
	content: "";
	width: 0;
	height: 0;
	border-left: 20px solid #ffffff;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	position: absolute;
	right: -20px;
}
#infographic-two-way-communication #graph-arrow-bottom::before {
	content: "";
	width: 0;
	height: 0;
	border-left: 20px solid teal;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	position: absolute;
	left: 0;
	z-index: 1;
}
#infographic-two-way-communication #graph-arrow-top::after {
	content: "";
	width: 0;
	height: 0;
	border-right: 20px solid #ffffff;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	position: absolute;
	left: -20px;
}
#infographic-two-way-communication #graph-arrow-top::before {
	content: "";
	width: 0;
	height: 0;
	border-right: 20px solid teal;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	position: absolute;
	right: 0;
	z-index: 1;
}
#animated-two-way-graph {
	width: 100%;
}
@-webkit-keyframes moving-r2l {
	from {
		left: 700px;
		width: 0px;
	}
	29% {
		left: 580px;
		width: 120px;
	}
	71% {
		left: 240px;
		width: 120px;
	}
	to {
		left: 240px;
		width: 0;
	}
}
@-webkit-keyframes moving-l2r {
	from {
		left: 240px;
		width: 0px;
	}
	29% {
		left: 240px;
		width: 120px;
	}
	71% {
		left: 580px;
		width: 120px;
	}
	to {
		left: 700px;
		width: 0;
	}
}
@-moz-keyframes moving-r2l {
	from {
		left: 700px;
		width: 0px;
	}
	29% {
		left: 580px;
		width: 120px;
	}
	71% {
		left: 240px;
		width: 120px;
	}
	to {
		left: 240px;
		width: 0;
	}
}
@-moz-keyframes moving-l2r {
	from {
		left: 240px;
		width: 0px;
	}
	29% {
		left: 240px;
		width: 120px;
	}
	71% {
		left: 580px;
		width: 120px;
	}
	to {
		left: 700px;
		width: 0;
	}
}
@-o-keyframes moving-r2l {
	from {
		left: 700px;
		width: 0px;
	}
	29% {
		left: 580px;
		width: 120px;
	}
	71% {
		left: 240px;
		width: 120px;
	}
	to {
		left: 240px;
		width: 0;
	}
}
@-o-keyframes moving-l2r {
	from {
		left: 240px;
		width: 0px;
	}
	29% {
		left: 240px;
		width: 120px;
	}
	71% {
		left: 580px;
		width: 120px;
	}
	to {
		left: 700px;
		width: 0;
	}
}
@keyframes moving-r2l {
	from {
		left: 700px;
		width: 0px;
	}
	29% {
		left: 580px;
		width: 120px;
	}
	71% {
		left: 240px;
		width: 120px;
	}
	to {
		left: 240px;
		width: 0;
	}
}
@keyframes moving-l2r {
	from {
		left: 240px;
		width: 0px;
	}
	29% {
		left: 240px;
		width: 120px;
	}
	71% {
		left: 580px;
		width: 120px;
	}
	to {
		left: 700px;
		width: 0;
	}
}

.hide-for-large-up {
	display: none;
}


ul.regular-list  {
	list-style-type: square !important;
}

ul.regular-list li  {
	padding-bottom: 10px;
}

ul.regular-list li a {
	text-decoration: underline;
}
