body {
  font-family: 'Roboto', sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4 , .h4 , h5, .h5, h6 , .h6 {
  font-family: 'Rubik', sans-serif;
}

.font-primary {
  font-family: 'Rubik', sans-serif;

}

.w100px {
  width: 100px;
}

 .text-highlight {
   font-family: 'Rubik', sans-serif;
   font-weight: 700;
 }
.bg-primary {
  background-color: #00cc99 !important;
}
.b-0 {
  bottom: 0;
}

.separator-primary {
  fill:  #00cc99;
}

.inner-image-banner {
  content: "";
    background-image: url("../img/bandung-grayscale.png");
    background-position: bottom right;
    background-size: contain;
    background-blend-mode: hard-light;
}

.separator-bottom {
    right: 0;
    bottom: 0px;
    left: 0;
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.color-primary {
  color:  #00cc99 ;
}
.bg-secondary {
  /* background-color: #285982 !important; */
}

.bg-color-red {
  background-color: red;
}

.bg-opacity {
  opacity: 0.9;
}

* {
  margin: 0;
  padding: 0;
}

.w40px {
  width: 40px;
}

.border-bottom-1px {
    border-bottom: 1px solid lightgray;
}

.font-weight-700 {
  font-weight: 700;
}

.nav-item  {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;

}
a.nav-link {
  text-transform: uppercase;
  color: black;
}

.bdg-city {
  height: 450px;
  width: 100%;
}

.badge {
  font-size: 90%;
  font-weight: normal;
}

.bdg-summary {
  /* border-left: 10px solid #00cc99;
  margin-left: 15px; */
}

.statistiktext {
    position: relative;
    margin-left: 30px;
    margin-right: -30px;
}

.statistiktext_content {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    left: -30px;
    position: absolute;
    padding: 0px 15px 0px 15px;
    font-size: 0.8rem;
    margin-top: 20px;
}


.img-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

.carousel-sp {
  background-color: rgba(0,204,153,1);
  width: 100px;
  height: 100px;
  border-radius: 100px;
  top: calc(50% - 50px);
}

.carousel-sp.carousel-control-prev {
  left: -35px;
}

.carousel-sp.carousel-control-next {
  right: -35px;
}

.color-white {
  color: white;
}

.select-style {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("../img/icon-select.png") no-repeat 99% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.list-recent-proc {
  list-style: none;
}


.list-planning {
 border-left: 4px solid orange;
}

.list-planning.active , .list-planning:hover {
 background-color: orange;
}

.list-tender {
 border-left: 4px solid #c6e9bc;

}

.list-tender.active , .list-tender:hover {
 background-color: #c6e9bc;
}

.list-award {
 border-left: 4px solid #7ccdbd;
}

.list-award:hover, .list-award.active {
 background-color: #7ccdbd;
}

.list-contract {
 border-left: 4px solid #679bc2;
}

.list-contract:hover , .list-contract.active {
 background-color: #679bc2;
}

.list-implementation {
 border-left: 4px solid #0092bb;
}

.list-implementation:hover , .list-implementation.active  {

}

.card-border-planning {
  border-left: 15px solid orange;
}

.card-border-tender {
  border-left: 15px solid #c6e9bc;
}

.card-border-award {
  border-left: 15px solid #7ccdbd;
}

.card-border-contract {
  border-left: 15px solid #679bc2;
}

 .hammer {
   font-size: 0.8em;
   text-transform: uppercase;
 }

 a.no-underline {
   text-decoration: none;
 }


 .blockquote-list > * {
     margin-right: 15%;
     margin-bottom: 1.25rem;
 }

 .blockquote-list > *:nth-child(2n+2) {
     margin-right: 0;
     margin-left: 15%;
 }

 .blockquote-list > *:last-child {
     margin-bottom: 0;
 }


 .blockquote {
    position: relative;
    margin: inherit;
    padding: 2rem 0 0 2rem;
    color: #000;
}

 .blockquote-2 {
    border-radius: 0 2.5rem 2.5rem 2.5rem;
    padding: 2.5rem 2.5rem 2.5rem 6.5rem;
    background-color: white;
  }

  .blockquote-2:nth-child(2n+2) {
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 0;
}


.blockquote-2::before {
    top: 2.25rem;
    font-size: 6rem;
    left: 2.5rem;
}

.blockquote::before {
    content: '\201C';
    position: absolute;
    display: inline;
    top: 1rem;
    left: 2rem;
    color: inherit;
    font-family: "Nunito Sans", sans-serif;
    font-size: 10rem;
    color: rgba(0, 0, 0, 0.1);
    line-height: 1em;
    z-index: 1;
}

body {
  counter-reset: section;                     /* Set a counter named 'section', and its initial value is 0. */
}

.timeline-card {
  background-color: #343a40;
}

.no-border {
  border: 0px;

}


.timeline-card .card-header {
  background: transparent;
  border-bottom: 0px;
}


.timeline-card p  {
  margin-left: 60px;
}

.timeline-card::before {
   counter-increment: section;                 /* Increment the value of section counter by 1 */
    content: counter(section);
    position: absolute;
    border: 2px solid white;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    line-height: 58px;
    font-size: 25px;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 2px;
    z-index: 1;
}

.border-width-5 {
  border-width: 10px;
}

.border-width-2 {
  border-width: 5px;
}

.timeline-card::after {
  content: "";
  display: block;
  position: absolute;
  top:  60px;
  height: calc(100%);
  width: 2px;
  background: white;
  z-index: 0;
  margin-left: 30px;

}


.timeline-card:last-child:after
{
 content: '';
 background-color: transparent;
}

.timeline-card .btn-link {
  text-decoration: none;
}


.bdg-carousel-title {
  left: 0;
}

.tender-timeline-line {
  width: 30px;
  height: 2px;
  background-color: #000;
  margin-top: 10px;;
}

.paginationjs-pages ul {
 width: 100%;
}
.paginationjs-pages ul li {
  display: inline;
  float: left;
  padding-left: 10px;

}

.vertical-line{
  height: 50px;
  width: 1px;

  background-color: black;
}

.chart-label {
  position: absolute;

}

.tender-timeline-counter{
  font-weight: 700;
  font-size: 2rem;
  color: lightgray;

}

.bl-3px-black {
  border-left: 3px solid black;
}

tbody#tender-tenderers-list tr td {
  height: 63px;
}

#awards-suppliers-sample-container, #awards-contracts-sample-container, #list-group-item-sample {
  display: none;
}

.watch-list-header {
  background-color:#343a40;
  z-index: 2;
}

ul#notificationList li {
  cursor: pointer;
}

ul#notificationList li.added {
color: darkgray;
}

.list-group-item-label {
  font-size: .9rem;
  padding: .5rem;
}

.sticky {
  position: sticky;
  top:10px;
}

.lds-dual-ring {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

#back-to-top {
  position: fixed;
  bottom: 10px;
  right:10px;
  z-index: 3
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#upBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #12A96B; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#upBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.dash-box {
    position: relative;
    background: rgb(255, 86, 65);
    background: -moz-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff5641', endColorstr='#fd3261', GradientType=0);
    border-radius: 4px;
    text-align: center;
    margin: 60px 0 50px;
}
.dash-box-icon {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}
.dash-box-action {
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    left: 50%;
}
.dash-box-body {
    padding: 50px 20px;
}
.dash-box-icon:after {
    width: 60px;
    height: 60px;
    position: absolute;
    background: rgba(247, 148, 137, 0.91);
    content: '';
    border-radius: 50%;
    left: -10px;
    top: -10px;
    z-index: -1;
}
.dash-box-icon > i {
    background: #ff5444;
    border-radius: 50%;
    line-height: 40px;
    color: #FFF;
    width: 40px;
    height: 40px;
	font-size:22px;
}
.dash-box-icon:before {
    width: 75px;
    height: 75px;
    position: absolute;
    background: rgba(253, 162, 153, 0.34);
    content: '';
    border-radius: 50%;
    left: -17px;
    top: -17px;
    z-index: -2;
}
.dash-box-action > button {
    border: none;
    background: #FFF;
    border-radius: 19px;
    padding: 7px 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: .5px;
    color: #003e85;
    box-shadow: 0 3px 5px #d4d4d4;
}
.dash-box-body > .dash-box-count {
    display: block;
    font-size: 30px;
    color: #FFF;
    font-weight: 300;
}
.dash-box-body > .dash-box-title {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.81);
}

.dash-box.dash-box-color-2 {
    background: rgb(252, 190, 27);
    background: -moz-linear-gradient(top, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
    background: -webkit-linear-gradient(top, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
    background: linear-gradient(to bottom, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcbe1b', endColorstr='#f85648', GradientType=0);
}
.dash-box-color-2 .dash-box-icon:after {
    background: rgba(254, 224, 54, 0.81);
}
.dash-box-color-2 .dash-box-icon:before {
    background: rgba(254, 224, 54, 0.64);
}
.dash-box-color-2 .dash-box-icon > i {
    background: #fb9f28;
}

.dash-box.dash-box-color-3 {
    background: rgb(183,71,247);
    background: -moz-linear-gradient(top, rgba(183,71,247,1) 0%, rgba(108,83,220,1) 100%);
    background: -webkit-linear-gradient(top, rgba(183,71,247,1) 0%,rgba(108,83,220,1) 100%);
    background: linear-gradient(to bottom, rgba(183,71,247,1) 0%,rgba(108,83,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b747f7', endColorstr='#6c53dc',GradientType=0 );
}
.dash-box-color-3 .dash-box-icon:after {
    background: rgba(180, 70, 245, 0.76);
}
.dash-box-color-3 .dash-box-icon:before {
    background: rgba(226, 132, 255, 0.66);
}
.dash-box-color-3 .dash-box-icon > i {
    background: #8150e4;
}

.dash-box.dash-box-color-4 {
    background: rgb(183,71,247);
    background: -moz-linear-gradient(top, rgba(6,179,134,1) 0%, rgba(19,213,163,1) 100%);
    background: -webkit-linear-gradient(top, rgba(6,179,134,1) 0%,rgba(19,213,163,1) 100%);
    background: linear-gradient(to bottom, rgba(6,179,134,1) 0%,rgba(19,213,163,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b747f7', endColorstr='#6c53dc',GradientType=0 );
}
.dash-box-color-4 .dash-box-icon:after {
    background: rgba(21, 215, 168, 0.76);
}
.dash-box-color-4 .dash-box-icon:before {
    background: rgba(0, 204, 152, 0.66);
}
.dash-box-color-4 .dash-box-icon > i {
    background: #00CC99;
}
