body {
  font-family: 'Roboto', sans-serif;
}



h1, .h1, h2, .h2, h3, .h3, h4 , .h4 , h5, .h5, h6 , .h6 {
  font-family: 'Rubik', sans-serif;
}

.font-primary {
  font-family: 'Rubik', sans-serif;

}

.w100px {
  width: 100px;
}

 .text-highlight {
   font-family: 'Rubik', sans-serif;
   font-weight: 700;
 }
.bg-primary {
  background-color: #00cc99 !important;
}
.b-0 {
  bottom: 0;
}

.separator-primary {
  fill:  #00cc99;
}

.inner-image-banner {
  content: "";
    background-image: url("../img/bandung-grayscale.png");
    background-position: bottom right;
    background-size: contain;
    background-blend-mode: hard-light;
}

.separator-bottom {
    right: 0;
    bottom: 0px;
    left: 0;
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.color-primary {
  color:  #00cc99 ;
}
.bg-secondary {
  /* background-color: #285982 !important; */
}

.bg-color-red {
  background-color: red;
}

.bg-opacity {
  opacity: 0.9;
}

* {
  margin: 0;
  padding: 0;
}

.w40px {
  width: 40px;
}

.border-bottom-1px {
    border-bottom: 1px solid lightgray;
}

.font-weight-700 {
  font-weight: 700;
}

.nav-item  {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;

}
a.nav-link {
  text-transform: uppercase;
  color: black;
}

.bdg-city {
  height: 450px;
  width: 100%;
}

.badge {
  font-size: 90%;
  font-weight: normal;
}

.bdg-summary {
  /* border-left: 10px solid #00cc99;
  margin-left: 15px; */
}

.statistiktext {
    position: relative;
    margin-left: 30px;
    margin-right: -30px;
}

.statistiktext_content {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    left: -30px;
    position: absolute;
    padding: 0px 15px 0px 15px;
    font-size: 0.8rem;
    margin-top: 20px;
}


.img-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

.carousel-sp {
  background-color: rgba(0,204,153,1);
  width: 100px;
  height: 100px;
  border-radius: 100px;
  top: calc(50% - 50px);
}

.carousel-sp.carousel-control-prev {
  left: -35px;
}

.carousel-sp.carousel-control-next {
  right: -35px;
}

.color-white {
  color: white;
}

.select-style {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("../img/icon-select.png") no-repeat 99% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.list-recent-proc {
  list-style: none;
}


.list-planning {
 border-left: 4px solid orange;
}

.list-planning.active , .list-planning:hover {
 background-color: orange;
}

.list-tender {
 border-left: 4px solid #c6e9bc;

}

.list-tender.active , .list-tender:hover {
 background-color: #c6e9bc;
}

.list-award {
 border-left: 4px solid #7ccdbd;
}

.list-award:hover, .list-award.active {
 background-color: #7ccdbd;
}

.list-contract {
 border-left: 4px solid #679bc2;
}

.list-contract:hover , .list-contract.active {
 background-color: #679bc2;
}

.list-implementation {
 border-left: 4px solid #0092bb;
}

.list-implementation:hover , .list-implementation.active  {

}

.card-border-planning {
  border-left: 15px solid orange;
}

.card-border-tender {
  border-left: 15px solid #c6e9bc;
}

.card-border-award {
  border-left: 15px solid #7ccdbd;
}

.card-border-contract {
  border-left: 15px solid #679bc2;
}

 .hammer {
   font-size: 0.8em;
   text-transform: uppercase;
 }

 a.no-underline {
   text-decoration: none;
 }


 .blockquote-list > * {
     margin-right: 15%;
     margin-bottom: 1.25rem;
 }

 .blockquote-list > *:nth-child(2n+2) {
     margin-right: 0;
     margin-left: 15%;
 }

 .blockquote-list > *:last-child {
     margin-bottom: 0;
 }


 .blockquote {
    position: relative;
    margin: inherit;
    padding: 2rem 0 0 2rem;
    color: #000;
}

 .blockquote-2 {
    border-radius: 0 2.5rem 2.5rem 2.5rem;
    padding: 2.5rem 2.5rem 2.5rem 6.5rem;
    background-color: white;
  }

  .blockquote-2:nth-child(2n+2) {
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 0;
}


.blockquote-2::before {
    top: 2.25rem;
    font-size: 6rem;
    left: 2.5rem;
}

.blockquote::before {
    content: '\201C';
    position: absolute;
    display: inline;
    top: 1rem;
    left: 2rem;
    color: inherit;
    font-family: "Nunito Sans", sans-serif;
    font-size: 10rem;
    color: rgba(0, 0, 0, 0.1);
    line-height: 1em;
    z-index: 1;
}

body {
  counter-reset: section;                     /* Set a counter named 'section', and its initial value is 0. */
}

.timeline-card {
  background-color: #343a40;
}

.no-border {
  border: 0px;

}


.timeline-card .card-header {
  background: transparent;
  border-bottom: 0px;
}


.timeline-card p  {
  margin-left: 60px;
}

.timeline-card::before {
   counter-increment: section;                 /* Increment the value of section counter by 1 */
    content: counter(section);
    position: absolute;
    border: 2px solid white;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    line-height: 58px;
    font-size: 25px;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 2px;
    z-index: 1;
}

.border-width-5 {
  border-width: 10px;
}

.border-width-2 {
  border-width: 5px;
}

.timeline-card::after {
  content: "";
  display: block;
  position: absolute;
  top:  60px;
  height: calc(100%);
  width: 2px;
  background: white;
  z-index: 0;
  margin-left: 30px;

}


.timeline-card:last-child:after
{
 content: '';
 background-color: transparent;
}

.timeline-card .btn-link {
  text-decoration: none;
}


.bdg-carousel-title {
  left: 0;
}

.tender-timeline-line {
  width: 30px;
  height: 2px;
  background-color: #000;
  margin-top: 10px;;
}

.paginationjs-pages ul {
 width: 100%;
}
.paginationjs-pages ul li {
  display: inline;
  float: left;
  padding-left: 10px;

}

.vertical-line{
  height: 50px;
  width: 1px;

  background-color: black;
}

.chart-label {
  position: absolute;

}

.tender-timeline-counter{
  font-weight: 700;
  font-size: 2rem;
  color: lightgray;

}

.bl-3px-black {
  border-left: 3px solid black;
}

tbody#tender-tenderers-list tr td {
  height: 63px;
}

#awards-suppliers-sample-container, #awards-contracts-sample-container, #list-group-item-sample {
  display: none;
}

.watch-list-header {
  background-color:#343a40;
  z-index: 2;
}

ul#notificationList li {
  cursor: pointer;
}

ul#notificationList li.added {
color: darkgray;
}

.list-group-item-label {
  font-size: .9rem;
  padding: .5rem;
}

.sticky {
  position: sticky;
  top:10px;
}

.lds-dual-ring {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
